@import url('https://fonts.googleapis.com/css?family=Poppins');

body {
  font-family: 'Poppins';
}

header > div {
  padding: 0 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid lightgray;
}

nav {
  width: 600px;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav a {
  text-decoration: none;
  color: black;
}

.blackHeart {
  width: 20px;
  margin-right: 1rem;
}

button {
  background-color: #fb3e44;
  border: none;
  color: white;
}

#Plans {
  color: white;

}

#Join {
  background-color: white;
  color: black;

}

input {
  background-color:rgba(0,0,0,.05);
  color:rgba(0,0,0,.05);
}

#blackHeart {

  display:flexbox;
  flex-direction: row;

}

#one {
  text-align: center;
  display:flexbox;
  justify-content: center;
  align-items:first baseline;
  flex-direction:column;
  

}

#first {

  margin-right: 550px;
  margin-left: 550px;
}

a {
  text-decoration: none;
}

#triangle-hexagon {
  width: 50px;
}

#two {
  
  text-align: center;
}

#principal {
  margin-right: 350px;
  margin-left: 350px;


}

.tres {
  max-width: 10%;
  max-height: 10%;
}

.three {

  display:flexbox;
  flex-direction:row; 

}